.iconCart {
    margin-right: 20px;
}

.iconText {
    font-size: 50px;
}

.iconText, span {
    color: brown;
    font-weight: bold;
}

.badge {
    position: absolute;
    font-size: 12px;
    right: 20px;
    border-radius: 50%;
}